{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>BLOG8</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--MENU-->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href='{% static 'css/cssMENU/style.css' %}'>

	<!--footer-->
	
    	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href='{% static 'css/cssFOOTER/ionicons.min.css' %}'>
		<link rel="stylesheet" href='{% static 'css/cssFOOTER/style.css' %}'>
  </head>
  <body>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Website menu GRUPO 8 - informatorio</h2>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row justify-content-between">
					<div class="col">
						<a class="navbar-brand" href="index.html">Papermag <span>Magazine</span></a>
					</div>
					<div class="col d-flex justify-content-end">
						<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
						</p>
				</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
			
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			  </button>
					<form action="#" class="searchform order-lg-last">
			  <div class="form-group d-flex">
				<input type="text" class="form-control pl-3" placeholder="Search">
				<button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
			  </div>
			</form>
			  <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
					<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
				  <div class="dropdown-menu" aria-labelledby="dropdown04">
					  <a class="dropdown-item" href="#">Page 1</a>
					<a class="dropdown-item" href="#">Page 2</a>
					<a class="dropdown-item" href="#">Page 3</a>
					<a class="dropdown-item" href="#">Page 4</a>
				  </div>
				</li>
					<li class="nav-item"><a href="#" class="nav-link">Catalog</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">Historia</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">Precio Dolar</a></li>
				</ul>
			  </div>
			</div>
		  </nav>
		<!-- END nav -->
	
		</section>

		<section>
			<div>
				campo vacío
			</div>
		</section>

		<footer class="footer-10">
			<div class="container">
				<div class="row mb-5 pb-3 no-gutters">
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-1 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-call"></span>
								</div>
								<div class="text">
									<span>(+00) 1234 5678</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-2 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-mail"></span>
								</div>
								<div class="text">
									<span>info@email.com</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-md-0 mb-4 d-flex">
						<div class="con con-3 w-100 py-5">
							<div class="con-info w-100 text-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="ion-ios-pin"></span>
								</div>
								<div class="text">
									<span>203 Fake St. Mountain View, San Francisco, California, USA</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">About</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Out story</a></li>
		              <li><a href="#" class="d-block">Awards</a></li>
		              <li><a href="#" class="d-block">Our Team</a></li>
		              <li><a href="#" class="d-block">Career</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Company</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Our services</a></li>
		              <li><a href="#" class="d-block">Clients</a></li>
		              <li><a href="#" class="d-block">Contact</a></li>
		              <li><a href="#" class="d-block">Press</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Resources</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="d-block">Blog</a></li>
		              <li><a href="#" class="d-block">Newsletter</a></li>
		              <li><a href="#" class="d-block">Privacy Policy</a></li>
		            </ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 mb-md-0 mb-4">
						<h2 class="footer-heading">Subscribe</h2>
						<form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <button type="submit" class="form-control submit rounded-right">Subscribe</button>
              </div>
              <span class="subheading">Get digital marketing updates in your mailbox</span>
            </form>
					</div>
				</div>
				<div class="row mt-5 pt-4 border-top">
          <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
            <p class="copyright mb-0">
  Copyright All rights reserved by <a href="Grupo 8 - informatorio" target="_blank">Grupo 8 - informatorio</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				
			</div>
			<div class="col d-flex justify-content-end">
				<div class="social-media">
				<p class="mb-0 d-flex">
					<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
					<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
					<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
					<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
				</p>
			</div>
		</div>
			
		</footer>
	
	<!--menu-->
	<script src= '{% static 'js/jsMENU/jquery.min.js' %}'></script>
	<script src= '{% static 'js/jsMENU/popper.js' %}'></script>
	<script src= '{% static 'js/jsMENU/bootstrap.min.js' %}'></script>
	<script src= '{% static 'js/jsMENU/main.js' %}'></script>
	
	<!--footer-->
	<script src= '{% static 'js/jsFOOTER/jquery.min.js' %}'></script>
	<script src= '{% static 'js/jsFOOTER/popper.js' %}'></script>
	<script src= '{% static 'js/jsFOOTER/bootstrap.min.js' %}'></script>
	<script src= '{% static 'js/jsFOOTER/main.js' %}'></script>
    
  </body>
</html>