{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1 class="my-3 text-center">Lista de posts</h1>

    {% for post in posts %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="{{ post.imagen.url }}" class="card-img-top" alt="Imagen del post">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'post_update' post.id %}">Editar Post</a>
      <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">Borrar Post</a>
      {% endif %}
      <a class="btn btn-success" href="{% url 'post_detail' post.id %}">Ver Post</a>
    {% endfor %}
</div>
{% endblock %}
